[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-graphql = "*"
flask-sqlalchemy = "*"
flask-script = "*"
flask-migrate = "*"
deltalake = "*"
pandas = "*"
pyarrow = "*"
requests = "*"
graphene = "*"
graphene-sqlalchemy = "*"
pyyaml = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.10"
